In [10]:
for i in range(20):
    print(i+1, (i+1)*(i+1))

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400

In [13]:
for i in range(100):
    print('Juan - ', i+1)

Juan -  1
Juan -  2
Juan -  3
Juan -  4
Juan -  5
Juan -  6
Juan -  7
Juan -  8
Juan -  9
Juan -  10
Juan -  11
Juan -  12
Juan -  13
Juan -  14
Juan -  15
Juan -  16
Juan -  17
Juan -  18
Juan -  19
Juan -  20
Juan -  21
Juan -  22
Juan -  23
Juan -  24
Juan -  25
Juan -  26
Juan -  27
Juan -  28
Juan -  29
Juan -  30
Juan -  31
Juan -  32
Juan -  33
Juan -  34
Juan -  35
Juan -  36
Juan -  37
Juan -  38
Juan -  39
Juan -  40
Juan -  41
Juan -  42
Juan -  43
Juan -  44
Juan -  45
Juan -  46
Juan -  47
Juan -  48
Juan -  49
Juan -  50
Juan -  51
Juan -  52
Juan -  53
Juan -  54
Juan -  55
Juan -  56
Juan -  57
Juan -  58
Juan -  59
Juan -  60
Juan -  61
Juan -  62
Juan -  63
Juan -  64
Juan -  65
Juan -  66
Juan -  67
Juan -  68
Juan -  69
Juan -  70
Juan -  71
Juan -  72
Juan -  73
Juan -  74
Juan -  75
Juan -  76
Juan -  77
Juan -  78
Juan -  79
Juan -  80
Juan -  81
Juan -  82
Juan -  83
Juan -  84
Juan -  85
Juan -  86
Juan -  87
Juan -  88
Juan -  89
Juan -  90
Juan -  91
Juan -  92
Juan -  93
Juan -  94
Juan -  95
Juan -  96
Juan -  97
Juan -  98
Juan -  99
Juan -  100

In [14]:
for i in range(100):
    print(i+1, '- Juan')

1 - Juan
2 - Juan
3 - Juan
4 - Juan
5 - Juan
6 - Juan
7 - Juan
8 - Juan
9 - Juan
10 - Juan
11 - Juan
12 - Juan
13 - Juan
14 - Juan
15 - Juan
16 - Juan
17 - Juan
18 - Juan
19 - Juan
20 - Juan
21 - Juan
22 - Juan
23 - Juan
24 - Juan
25 - Juan
26 - Juan
27 - Juan
28 - Juan
29 - Juan
30 - Juan
31 - Juan
32 - Juan
33 - Juan
34 - Juan
35 - Juan
36 - Juan
37 - Juan
38 - Juan
39 - Juan
40 - Juan
41 - Juan
42 - Juan
43 - Juan
44 - Juan
45 - Juan
46 - Juan
47 - Juan
48 - Juan
49 - Juan
50 - Juan
51 - Juan
52 - Juan
53 - Juan
54 - Juan
55 - Juan
56 - Juan
57 - Juan
58 - Juan
59 - Juan
60 - Juan
61 - Juan
62 - Juan
63 - Juan
64 - Juan
65 - Juan
66 - Juan
67 - Juan
68 - Juan
69 - Juan
70 - Juan
71 - Juan
72 - Juan
73 - Juan
74 - Juan
75 - Juan
76 - Juan
77 - Juan
78 - Juan
79 - Juan
80 - Juan
81 - Juan
82 - Juan
83 - Juan
84 - Juan
85 - Juan
86 - Juan
87 - Juan
88 - Juan
89 - Juan
90 - Juan
91 - Juan
92 - Juan
93 - Juan
94 - Juan
95 - Juan
96 - Juan
97 - Juan
98 - Juan
99 - Juan
100 - Juan

In [19]:
for i in range(4):
    print('*'*20)

********************
********************
********************
********************

In [21]:
for i in range(5):
    if i == 1 or i == 4 :
        print('*'*20)
    elif i == 2 or i == 3:
        print('*' + ' '*18 + '*')

********************
*                  *
*                  *
********************

In [22]:
for i in range(5):
    print('*'*i)

*
**
***
****

In [26]:
for i in range(5):
    if i == 1:
        print('*')
    elif i == 2:
        print('*'*2)
    elif i == 3:
        print('*'*3)
    elif i == 4:
        print('*'*4)

*
**
***
****

In [27]:
for i in range(4):
    print('*'*(i+1))

*
**
***
****