In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('telefonos.csv', encoding='latin1')

df.head(10)

         Fecha;Representante;CódigoProducto;Unidades
0       1/1/2014;Valentina Tapia Castro;B00F3J4B5S;4
1        2/1/2014;Gabriela Rojas Huerta;B018IZ0SWI;2
2      2/1/2014;Carla Fernández Mendoza;B01DZJFWNC;1
3           2/1/2014;Luisa García López;B01DZJFWNC;2
4  2/1/2014;Juan Carlos Rodríguez Huamán;B016381Q...
5         3/1/2014;Ricardo Gómez Vargas;B00J0O5J4Y;2
6         3/1/2014;Diego Morales Castro;B01KBH547A;3
7       4/1/2014;Silvia Ramírez Rivera;B00K15Q2B0;15
8          4/1/2014;Laura Flores Guzmán;B00NQGP42Y;2
9      4/1/2014;Eduardo Cáceres Salazar;B00NQGP42Y;2