### Fundamentos de Python

In [3]:
print("Hello World" + " pajuo")

Hello World pajuo

In [13]:
# Variables
name = "John"
age = 10

first_name = "Kale"
fn = "Kale"
# first-name  =  "kale"

# anomalias malas practicas

FirstName = "Kale"
First_Name = "Kale"
First_name = "Kale"
# first.name = "josefino"

# revisar el pep 8: guia de estilo de python

In [12]:
# python como calculadora
age = 10
weight = 5
height = 1.78

sum = age + weight

print( type( height ) )
print( type( weight ) )
print( type( first_name ) )

<class 'float'>
<class 'str'>

In [16]:
# formatos en print
age = 10
weight = 5
height = 1.78

sum = age + weight

print( "El tipo de dato de altura es: ", type( height ) )
print( "El tipo de dato de peso es: ", type( weight ) )
print( "El tipo de dato de name es: ", type( first_name ) )

El tipo de dato de altura es:  <class 'float'>
El tipo de dato de peso es:  <class 'int'>
El tipo de dato de name es:  <class 'str'>

In [18]:
age = float(age)
type(age)

height = float(height)
print("altura: ", type(height))

altura:  <class 'float'>

### Ciclos finitos

In [ ]:
# ciclo for en python

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(1,11):
    print(f"Cuadrado de {i} es: {i**2}")

Cuadrado de 1 es: 1
Cuadrado de 2 es: 4
Cuadrado de 3 es: 9
Cuadrado de 4 es: 16
Cuadrado de 5 es: 25
Cuadrado de 6 es: 36
Cuadrado de 7 es: 49
Cuadrado de 8 es: 64
Cuadrado de 9 es: 81
Cuadrado de 10 es: 100

In [20]:
for i in range(10,0,-1):
    print("*"*i)

**********
*********
********
*******
******
*****
****
***
**
*

In [21]:
# Conditions in Python
# >, <, >=, <=, ==, !=

# Example 1: Simple if statement

day = "domingo"

if day == "domingo":
    print("voy a clases")

voy a clases

In [30]:
# ingreso por teclado

day = input("ingrese un dia de la semana: ")

day = day.lower()

if day == "domingo":
    print("es domingo")
elif day == "sabado":
    print("es sabado")
elif day == "viernes":
    print("es viernes")
elif day == "lunes":
    print("es lunes")
else:
    print("No es un dia valido")

es lunes

In [28]:
# Buscar numeros pares

for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [29]:
# Buscar numeros pares

for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i}")

2
4
6
8
10

## Listas

In [31]:
list_1 = ["monday", "tuesday", 1, 2, 0.8]

In [38]:
names = ["josefino", "maria", "ruperto"]

In [40]:
names.append("carlos")

In [41]:
names

['josefino', 'maria', 'ruperto', 'carlos']

In [42]:
names_2 = names.copy()

In [44]:
names_2.count('maria')

1

In [47]:
names.index("maria")

1

In [48]:
names_2.pop()

'carlos'

In [49]:
names_2

['josefino', 'maria', 'ruperto']

In [51]:
names.sort()
names

['carlos', 'josefino', 'maria', 'ruperto']

In [53]:
# Slices
names[:2]

['carlos', 'josefino']

In [ ]:
#guardar el cuadrado de numeros pares en una lista, del 1 al 100

pares = []

for i in range(1,11):
    if i % 2 == 0:
        pares.append(i)
        
pares

In [59]:
#guardar el cuadrado de numeros pares en una lista, del 1 al 100

impares = []

for i in range(1,101):
    if i % 2 != 0:
        impares.append(i**2)
        
impares

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401,
 2601,
 2809,
 3025,
 3249,
 3481,
 3721,
 3969,
 4225,
 4489,
 4761,
 5041,
 5329,
 5625,
 5929,
 6241,
 6561,
 6889,
 7225,
 7569,
 7921,
 8281,
 8649,
 9025,
 9409,
 9801]

In [60]:
len(impares)

50

In [63]:
for name in range(len(names)):
    if names[name] == 'maria':
        print(names[name])

maria